<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/advisernew.css">
  <meta charset="utf-8"content="width=device-width, initial-scale=1.0">
	<title>Edit Adviser</title>

</head>
<body>
<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand">Team-19</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/module-1/1">Member 1</a></li>
      <li class="divider"></li>
      <li class="active"><a href="/module-1/2">Member 2</a></li>
      <li class="divider"></li>
      <li class="active"><a href="/thesis/new">Thesis</a></li>
      <li class="divider"></li>
      <li class="active"><a href="/student/new">Students</a></li>
      <li class="divider"></li>
      <li class="active"><a href="/adviser/new">Advisers</a></li>
      <li class="divider"></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ url|safe }}" class="active">{{url_linktext}}</button></a></li>
        </ul>
  </div>
</div>

  {% if user_name %}
  {% for adviser in adviser_all %}
  {% if adviser.key.id()== id  %}
  <center>
  <h1 id = "nav">Edit Adviser</h1></center>
  <br>
	<form class="form-horizontal" method = "POST" action = "/adviser/edit/{{adviser.key.id()}}">
  	<fieldset>
  	<div id = "comp">
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Title</label>
     <div class="col-lg-10">
        <select value = "{{adviser.title}}" class="form-control" id="select" name="title">
          <option>Mr.</option>
          <option>Ms.</option>
          <option>Mrs.</option>
          <option>Engr.</option>
          <option>Dr.</option>
        </select>
        </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">First Name</label>
      <div class="col-lg-10">
        <input value = "{{adviser.first_name}}" type="text" class="form-control" name = "first_name" required>
        </div>
      </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Last Name</label>
      <div class="col-lg-10">
        <input value = "{{adviser.last_name}}" type="text" class="form-control" name = "last_name" required>
        </div>
    </div>
     <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
      <input value = "{{adviser.email}}" type="email" class="form-control" name="email" placeholder = "Email" required>
      </div>
      </div>
     <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Phone Number</label>
      <div class="col-lg-10">
      <input value = "{{adviser.phone_number}}"type="text" class="form-control" name="phone_number">
  		</div>
  		</div>   
    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Department</label>
      <div class="col-lg-10">
        <select value = "{{adviser.department}}" class="form-control" id="select" name="department">
          <option>CpE</option>
          <option>CE</option>
          <option>ME</option>
          <option>EE</option>
          <option>ECE</option>
          <option>IE</option>
          </select>
      </div>
      </div>
    </div>
    </div>
   
    <br>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-default" type = "reset">Reset</button>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href = "/adviser/list"><button type = "button" class="btn btn-primary">Lists</button></a>
      </div>
    </div>
  </fieldset>
</form>
 
 {% endif %}
 {% endfor %}
 {% else %}
    <div id = "Login">
    <h2>Kindly <a href="{{url|safe}}">{{url_linktext}}</a> to proceed.</h2>
  </div>
    {% endif%}

</body>
</html>